@import url('variables.css');

a {
  margin: 0;
  padding: 0;
  color: inherit;
  border: none;
  background: none;
  text-decoration: none;
}
a:hover {
  color: #009999;
  transition: color 100ms ease-in;
}

/* Scroll bar customiztion */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  border-radius: 180px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 180px;
  background-color: var(--scrollbar-color);
}

@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(./fonts/Jost.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito.woff2) format('woff2');
}

@font-face {
  font-family: 'kumbh';
  src: local('kumbh'), url(./fonts/kumbh.woff2) format('woff2');
}