.homePageWrapper {
  width: 100%;
}
.homeContainer {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 20px;
}
.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  flex: 6%;
}
.socialLink {
  height: 32px;
  cursor: pointer;
  transition: all 100ms linear;
}
.socialLink:hover {
  transform: scale(110%);
}
.personalDescSection {
  display: flex;
  height: 100%;
  max-width: 60%;
  font-family: kumbh;
  color: #000000;
  box-sizing: border-box;
  flex-direction: column;
  flex: 59%;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.greetingBlock {
  font-size: 30px;
  font-weight: 600;
  color: #00A86B;
  letter-spacing: .1em;
}
.nameBlock {
  font-size: 45px;
  letter-spacing: .01em;
}
.nameQ {
  color: #00A86B;
}
.smallDesc {
  display: flex;
  width: 100%;
  font-size: 18px;
  text-align: justify;
}
.profilePhotoSection {
  display: flex;
  height: 100%;
  flex: 35%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center
}
.profilePhoto {
  z-index: 2;
  position: relative;
  width: 350px;
  height: 400px;
}
.startButton {
  display: flex;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  border: 2px solid #17B169;
  border-radius: 20px;
  background: #17B169;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  transition: all 200ms ease-in-out;
}
.startButton:hover {
  color: #17B169;
  background-color: #FFFFFF;
}
.workExpSection {
  display: flex;
  width: 60%;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.workTitle {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  font-family: 'Kumbh';
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #0464f4;
  border: 0 solid gray;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
}
.companies {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.eachCompanyDiv img {
  width: var(--imgWidth);
  height: 70px;
}